In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("matches.csv")

In [3]:
data.head(3)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN

In [4]:
pd.read_csv("Downloads/data/deliveries.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'Downloads/data/deliveries.csv'

In [5]:
pwd

'C:\\Users\\lenovo\\Pandas Folder'

In [6]:
cd

C:\Users\lenovo

In [7]:
delivery = pd.read_csv("Downloads//data//deliveries.csv")

In [8]:
delivery.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [9]:
batsman = delivery.groupby("batsman")

In [10]:
batsman

In [11]:
batsman.size().sort_values(ascending = False)

batsman
V Kohli           3494
G Gambhir         3433
SK Raina          3369
RG Sharma         3274
S Dhawan          3005
                  ...
S Kaushik            1
DP Vijaykumar        1
V Pratap Singh       1
U Kaul               1
NJ Rimmington        1
Length: 461, dtype: int64

In [12]:
len(batsman)

461

In [13]:
delivery["batsman"].value_counts()

batsman
V Kohli          3494
G Gambhir        3433
SK Raina         3369
RG Sharma        3274
S Dhawan         3005
                 ...
Sunny Gupta         1
NJ Rimmington       1
DP Vijaykumar       1
S Kaushik           1
U Kaul              1
Name: count, Length: 461, dtype: int64

In [14]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [15]:
batsman

In [16]:
batsman.sum().sort_values("batsman_runs", ascending = False).head()

,match_id,inning,batting_team,bowling_team,over,ball,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
batsman,,,,,,,,,,,,,,,,,,,,
SK Raina,1079285,4748,Gujarat LionsGujarat LionsGujarat LionsGujarat...,Kolkata Knight RidersKolkata Knight RidersKolk...,32746,12256,BB McCullumBB McCullumBB McCullumBB McCullumBB...,PP ChawlaPP ChawlaSP NarineCR WoakesCR WoakesC...,3,124,0,57,16,0,4548,197,4745,SK RainaSK RainaSK RainaSK RainaSK RainaSK Rai...,lbwcaughtcaughtcaughtcaughtcaughtrun outrun ou...,RG SharmaSR WatsonMK PandeyGJ MaxwellKA Pollar...
V Kohli,1304291,5112,Royal Challengers BangaloreRoyal Challengers B...,Mumbai IndiansMumbai IndiansMumbai IndiansMumb...,33426,12284,CH GayleCH GayleCH GayleCH GayleCH GayleCH Gay...,TG SoutheeTG SoutheeTG SoutheeTG SoutheeHarbha...,2,110,5,39,11,0,4423,165,4588,V KohliV KohliV KohliV KohliV KohliV KohliV Ko...,caughtcaughtcaughtcaughtcaughtcaughtcaughtbowl...,JC ButtlerAM RahaneDR SmithMK PandeyAJ FinchMA...
RG Sharma,1081920,4822,Mumbai IndiansMumbai IndiansMumbai IndiansMumb...,Rising Pune SupergiantRising Pune SupergiantRi...,36662,11601,JC ButtlerJC ButtlerJC ButtlerJC ButtlerJC But...,Imran TahirImran TahirImran TahirDL ChaharImra...,0,66,2,48,11,0,4207,127,4334,RG SharmaRG SharmaRG SharmaRG SharmaRG SharmaR...,bowledlbwlbwbowledcaughtcaught and bowledcaugh...,PJ CumminsKD KarthikA MishraMJ GuptillAS Rajpo...
G Gambhir,1072760,5510,Kolkata Knight RidersKolkata Knight RidersKolk...,Gujarat LionsGujarat LionsGujarat LionsGujarat...,23650,12313,CA LynnCA LynnCA LynnCA LynnCA LynnCA LynnCA L...,P KumarP KumarP KumarDS KulkarniDS KulkarniDS ...,0,151,10,85,10,0,4132,256,4388,G GambhirG GambhirG GambhirG GambhirG GambhirS...,caughtbowledcaughtcaughtcaughtrun outcaughtrun...,MJ McClenaghanAD MathewsSK RainaKM JadhavSN Th...
DA Warner,1085379,4258,Sunrisers HyderabadSunrisers HyderabadSunriser...,Royal Challengers BangaloreRoyal Challengers B...,21153,10188,S DhawanS DhawanS DhawanS DhawanS DhawanS Dhaw...,TS MillsTS MillsTS MillsTS MillsTS MillsA Chou...,1,108,23,52,16,0,4014,199,4213,DA WarnerDA WarnerDA WarnerDA WarnerDA WarnerD...,caughtcaughtcaughtcaughtbowledbowledcaughtbowl...,Mandeep SinghPA PatelCR WoakesA MishraG Gambhi...

In [17]:
batsman

In [18]:
batsman.get_group("V Kohli")

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
2590,12,1,Royal Challengers Bangalore,Mumbai Indians,1,2,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
2591,12,1,Royal Challengers Bangalore,Mumbai Indians,1,3,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2593,12,1,Royal Challengers Bangalore,Mumbai Indians,1,5,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2594,12,1,Royal Challengers Bangalore,Mumbai Indians,1,6,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2597,12,1,Royal Challengers Bangalore,Mumbai Indians,2,1,V Kohli,CH Gayle,Harbhajan Singh,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150410,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,12,5,V Kohli,AB de Villiers,Bipul Sharma,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150413,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,2,V Kohli,AB de Villiers,BB Sran,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
150414,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,3,V Kohli,AB de Villiers,BB Sran,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150415,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,4,V Kohli,AB de Villiers,BB Sran,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150416,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,5,V Kohli,AB de Villiers,BB Sran,0,...,0,0,0,0,0,0,0,V Kohli,bowled,NaN

In [19]:
batsman["batsman_runs"].sum().sort_values(ascending=False).head()

batsman
SK Raina     4548
V Kohli      4423
RG Sharma    4207
G Gambhir    4132
DA Warner    4014
Name: batsman_runs, dtype: int64

In [20]:
batsman

In [21]:
import numpy as np
import pandas as pd

delivery = pd.read_csv("Downloads//data//delivery.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'Downloads//data//delivery.csv'

In [22]:
pwd

'C:\\Users\\lenovo'

In [23]:
cd

C:\Users\lenovo

In [24]:
delivery = pd.read_csv("Downloads//data//deliveries.csv")

In [25]:
delivery.head(4)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [26]:
batsman = delivery.groupby("batsman")

In [27]:
batsman.size().sort_values(ascending =False)

batsman
V Kohli           3494
G Gambhir         3433
SK Raina          3369
RG Sharma         3274
S Dhawan          3005
                  ...
S Kaushik            1
DP Vijaykumar        1
V Pratap Singh       1
U Kaul               1
NJ Rimmington        1
Length: 461, dtype: int64

In [28]:
batsman["batsman_runs"].sum().sort_values(ascending = False).head()

batsman
SK Raina     4548
V Kohli      4423
RG Sharma    4207
G Gambhir    4132
DA Warner    4014
Name: batsman_runs, dtype: int64

In [29]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [30]:
delivery1 = delivery[delivery["batsman_runs"] == 4]

In [31]:
delivery1

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
8,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,2,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
13,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,7,MC Henriques,S Dhawan,A Choudhary,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
30,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,5,MC Henriques,S Dhawan,S Aravind,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
32,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,6,1,S Dhawan,MC Henriques,SR Watson,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150403,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,11,4,V Kohli,AB de Villiers,BCJ Cutting,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
150407,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,12,2,V Kohli,AB de Villiers,Bipul Sharma,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
150418,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,14,1,KL Rahul,AB de Villiers,Bipul Sharma,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
150447,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,18,6,Sachin Baby,STR Binny,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [32]:
batsman1 = delivery1.groupby("batsman")

In [33]:
batsman1["batsman_runs"].count().sort_values(ascending = False)

batsman
G Gambhir         484
SK Raina          402
DA Warner         401
S Dhawan          401
V Kohli           384
                 ...
S Gopal             1
DE Bollinger        1
Sandeep Sharma      1
Shivam Sharma       1
KAJ Roach           1
Name: batsman_runs, Length: 368, dtype: int64

In [34]:
batsman1.size().sort_values(ascending = False)

batsman
G Gambhir         484
SK Raina          402
DA Warner         401
S Dhawan          401
V Kohli           384
                 ...
S Gopal             1
DE Bollinger        1
Sandeep Sharma      1
Shivam Sharma       1
KAJ Roach           1
Length: 368, dtype: int64

In [35]:
mask = delivery["batsman"] == "V Kohli"
new_delivery = delivery[mask]

In [36]:
new_delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
2590,12,1,Royal Challengers Bangalore,Mumbai Indians,1,2,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
2591,12,1,Royal Challengers Bangalore,Mumbai Indians,1,3,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2593,12,1,Royal Challengers Bangalore,Mumbai Indians,1,5,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2594,12,1,Royal Challengers Bangalore,Mumbai Indians,1,6,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2597,12,1,Royal Challengers Bangalore,Mumbai Indians,2,1,V Kohli,CH Gayle,Harbhajan Singh,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [37]:
Virat = new_delivery.groupby("bowling_team")

In [38]:
Virat["batsman_runs"].sum().sort_values(ascending = False)

bowling_team
Chennai Super Kings        706
Delhi Daredevils           661
Kings XI Punjab            483
Mumbai Indians             447
Sunrisers Hyderabad        439
Kolkata Knight Riders      391
Deccan Chargers            306
Gujarat Lions              283
Rajasthan Royals           258
Rising Pune Supergiants    188
Pune Warriors              128
Rising Pune Supergiant      83
Kochi Tuskers Kerala        50
Name: batsman_runs, dtype: int64

In [41]:
def run_scored():
    player = input()
    mask = delivery["batsman"] == player
    return delivery[mask]["batsman_runs"].groupby("bowling_team").sum().sort_values(ascending = False).head()

In [42]:
run_scored()

KeyboardInterrupt: Interrupted by user

In [43]:
delivery.shape

(150460, 21)

In [44]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [45]:
# isin() method discussion

In [46]:
import numpy as np
import pandas as pd

In [47]:
pwd cd

'C:\\Users\\lenovo'

In [48]:
delivery = pd.read_csv("Downloads//data//deliveries.csv")

In [49]:
delivery.head(3)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [50]:
## question is who is the best batsman based on strike rate in the death overs.

In [51]:
death_over = delivery["over"]>=16

In [55]:
delivery[death_over].shape

(33737, 21)

In [56]:
delivery.shape

(150460, 21)

In [57]:
death_over.shape

(150460,)

In [59]:
## strike rate = (total runs scored/total balls faced)*100

In [63]:
batsman_list=delivery[death_over].groupby("batsman")

In [83]:
new_batsman_list = batsman_list["ball"].sum().sort_values(ascending = False)
final_list_batsman = new_batsman_list[new_batsman_list > 200]
#total_balls_faced = (batsman_list["ball"].sum()>200).sort_values(ascending = False)

In [91]:
new_batsman_list["MS Dhoni"]

4353

In [92]:
total_runs_scored["MS Dhoni"]

2076

In [93]:
(total_runs_scored["MS Dhoni"] / new_batsman_list["MS Dhoni"])* 100

47.69124741557547

In [73]:
total_runs_scored = batsman_list["batsman_runs"].sum().sort_values(ascending = False)

In [74]:
total_runs_scored

batsman
MS Dhoni          2076
KA Pollard        1352
RG Sharma         1314
AB de Villiers    1203
V Kohli            993
                  ...
Sunny Gupta          0
V Pratap Singh       0
A Mukund             0
M Ashwin             0
RR Bhatkal           0
Name: batsman_runs, Length: 416, dtype: int64

In [84]:
(total_runs_scored / final_list_batsman)*100

batsman
A Ashish Reddy    40.839695
A Chandila              NaN
A Chopra                NaN
A Choudhary             NaN
A Flintoff              NaN
                    ...
YS Chahal               NaN
YV Takawale             NaN
Yashpal Singh           NaN
Yuvraj Singh      47.963064
Z Khan            27.551020
Length: 416, dtype: float64

In [85]:
((total_runs_scored / final_list_batsman)*100).sort_values(ascending = False)

batsman
HM Amla                 59.512195
AB de Villiers          59.378085
CH Gayle                56.827586
DA Warner               55.670103
GJ Maxwell              54.621849
                          ...
X Thalaivan Sargunam          NaN
YA Abdulla                    NaN
YS Chahal                     NaN
YV Takawale                   NaN
Yashpal Singh                 NaN
Length: 416, dtype: float64

In [94]:
## 2nd approach/ since there is some issue with the 1st approach

In [104]:
death_over = delivery[delivery["over"] > 15]

In [118]:
all_batsman = death_over.groupby("batsman")["batsman_runs"].count().sort_values(ascending  = False)

In [119]:
x =(death_over.groupby("batsman")["batsman_runs"].count().sort_values(ascending  = False)) > 200

In [122]:
all_batsman[x]

batsman
MS Dhoni            1224
KA Pollard           838
RG Sharma            748
YK Pathan            584
RA Jadeja            576
AB de Villiers       570
V Kohli              546
JP Duminy            518
Yuvraj Singh         516
IK Pathan            465
KD Karthik           463
SK Raina             458
AT Rayudu            425
JA Morkel            425
MK Tiwary            423
Harbhajan Singh      418
DJ Bravo             409
BJ Hodge             385
DA Miller            360
KM Jadhav            338
SPD Smith            316
PP Chawla            311
NV Ojha              304
SS Tiwary            300
WP Saha              295
JP Faulkner          294
AD Mathews           289
S Badrinath          283
RV Uthappa           275
AM Rahane            268
P Kumar              268
Y Venugopal Rao      260
DPMD Jayawardene     246
S Dhawan             243
R Vinay Kumar        235
DJ Hussey            234
JH Kallis            231
AR Patel             229
DA Warner            228
A Mishra             225
MK Pandey            224
STR Binny            218
LRPL Taylor          204
Name: batsman_runs, dtype: int64

In [123]:
all_batsman[x].shape

(43,)

In [124]:
all_batsman[x].index

Index(['MS Dhoni', 'KA Pollard', 'RG Sharma', 'YK Pathan', 'RA Jadeja',
       'AB de Villiers', 'V Kohli', 'JP Duminy', 'Yuvraj Singh', 'IK Pathan',
       'KD Karthik', 'SK Raina', 'AT Rayudu', 'JA Morkel', 'MK Tiwary',
       'Harbhajan Singh', 'DJ Bravo', 'BJ Hodge', 'DA Miller', 'KM Jadhav',
       'SPD Smith', 'PP Chawla', 'NV Ojha', 'SS Tiwary', 'WP Saha',
       'JP Faulkner', 'AD Mathews', 'S Badrinath', 'RV Uthappa', 'AM Rahane',
       'P Kumar', 'Y Venugopal Rao', 'DPMD Jayawardene', 'S Dhawan',
       'R Vinay Kumar', 'DJ Hussey', 'JH Kallis', 'AR Patel', 'DA Warner',
       'A Mishra', 'MK Pandey', 'STR Binny', 'LRPL Taylor'],
      dtype='object', name='batsman')

In [125]:
all_batsman[x].index.tolist()

['MS Dhoni',
 'KA Pollard',
 'RG Sharma',
 'YK Pathan',
 'RA Jadeja',
 'AB de Villiers',
 'V Kohli',
 'JP Duminy',
 'Yuvraj Singh',
 'IK Pathan',
 'KD Karthik',
 'SK Raina',
 'AT Rayudu',
 'JA Morkel',
 'MK Tiwary',
 'Harbhajan Singh',
 'DJ Bravo',
 'BJ Hodge',
 'DA Miller',
 'KM Jadhav',
 'SPD Smith',
 'PP Chawla',
 'NV Ojha',
 'SS Tiwary',
 'WP Saha',
 'JP Faulkner',
 'AD Mathews',
 'S Badrinath',
 'RV Uthappa',
 'AM Rahane',
 'P Kumar',
 'Y Venugopal Rao',
 'DPMD Jayawardene',
 'S Dhawan',
 'R Vinay Kumar',
 'DJ Hussey',
 'JH Kallis',
 'AR Patel',
 'DA Warner',
 'A Mishra',
 'MK Pandey',
 'STR Binny',
 'LRPL Taylor']

In [126]:
batsman_list = all_batsman[x].index.tolist()

In [1]:
import numpy as np
import pandas as pd

In [2]:
pwd cd

'C:\\Users\\lenovo\\Pandas Folder'

In [3]:
pwd cd

'C:\\Users\\lenovo\\Pandas Folder'

In [4]:
pwd

'C:\\Users\\lenovo\\Pandas Folder'

In [5]:
cd

C:\Users\lenovo

In [6]:
pwd

'C:\\Users\\lenovo'

In [7]:
delivery = pd.read_csv("Downloads//data//deliveries.csv")

In [8]:
delivery.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [9]:
## Question is to find the most aggresive batsman in the death overs.

In [14]:
death_over = delivery[delivery["over"] > 15]

In [35]:
batsman_obj = death_over.groupby("batsman")

In [52]:
new_batsman = batsman_obj["batsman_runs"].count().sort_values(ascending = False)

In [53]:
mask = batsman_obj["batsman_runs"].count().sort_values(ascending = False) > 200

In [56]:
new_batsman[mask].shape

(43,)

In [58]:
new_batsman[mask]

batsman
MS Dhoni            1224
KA Pollard           838
RG Sharma            748
YK Pathan            584
RA Jadeja            576
AB de Villiers       570
V Kohli              546
JP Duminy            518
Yuvraj Singh         516
IK Pathan            465
KD Karthik           463
SK Raina             458
AT Rayudu            425
JA Morkel            425
MK Tiwary            423
Harbhajan Singh      418
DJ Bravo             409
BJ Hodge             385
DA Miller            360
KM Jadhav            338
SPD Smith            316
PP Chawla            311
NV Ojha              304
SS Tiwary            300
WP Saha              295
JP Faulkner          294
AD Mathews           289
S Badrinath          283
RV Uthappa           275
AM Rahane            268
P Kumar              268
Y Venugopal Rao      260
DPMD Jayawardene     246
S Dhawan             243
R Vinay Kumar        235
DJ Hussey            234
JH Kallis            231
AR Patel             229
DA Warner            228
A Mishra             225
MK Pandey            224
STR Binny            218
LRPL Taylor          204
Name: batsman_runs, dtype: int64

In [66]:
new_batsman[mask].index

Index(['MS Dhoni', 'KA Pollard', 'RG Sharma', 'YK Pathan', 'RA Jadeja',
       'AB de Villiers', 'V Kohli', 'JP Duminy', 'Yuvraj Singh', 'IK Pathan',
       'KD Karthik', 'SK Raina', 'AT Rayudu', 'JA Morkel', 'MK Tiwary',
       'Harbhajan Singh', 'DJ Bravo', 'BJ Hodge', 'DA Miller', 'KM Jadhav',
       'SPD Smith', 'PP Chawla', 'NV Ojha', 'SS Tiwary', 'WP Saha',
       'JP Faulkner', 'AD Mathews', 'S Badrinath', 'RV Uthappa', 'AM Rahane',
       'P Kumar', 'Y Venugopal Rao', 'DPMD Jayawardene', 'S Dhawan',
       'R Vinay Kumar', 'DJ Hussey', 'JH Kallis', 'AR Patel', 'DA Warner',
       'A Mishra', 'MK Pandey', 'STR Binny', 'LRPL Taylor'],
      dtype='object', name='batsman')

In [67]:
batsman_list = new_batsman[mask].index.tolist()

In [68]:
# Now prepare a DF which contains only these 43 players meeting out condition to determine the strike rates.

In [69]:
delivery["batsman"].isin(batsman_list)

0          True
1          True
2          True
3          True
4          True
          ...
150455    False
150456    False
150457    False
150458    False
150459    False
Name: batsman, Length: 150460, dtype: bool

In [71]:
final = delivery[delivery["batsman"].isin(batsman_list)]

In [72]:
final.head(10)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
5,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,6,S Dhawan,DA Warner,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
6,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,7,S Dhawan,DA Warner,TS Mills,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
7,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,1,S Dhawan,DA Warner,A Choudhary,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
8,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,2,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
9,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,3,DA Warner,S Dhawan,A Choudhary,0,...,0,0,1,0,0,1,1,NaN,NaN,NaN

In [74]:
runs = final.groupby("batsman")["batsman_runs"].sum()

In [75]:
balls = final.groupby("batsman")["batsman_runs"].count()

In [ ]:
sr = runs