In [24]:
import pandas as pd
import numpy as np

In [25]:
g7_pop = pd.Series([35.467,63.951,80.940,60.665,127.061,64.511,318.523])

In [26]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [27]:
g7_pop.name = "G7 Countries Population in millions!"

In [28]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Countries Population in millions!, dtype: float64

In [29]:
g7_pop.dtype

dtype('float64')

In [30]:
g7_pop.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [31]:
type(g7_pop)

pandas.core.series.Series

In [32]:
type(g7_pop.values)

numpy.ndarray

In [33]:
g7_pop[0]

35.467

In [34]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [35]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [36]:
g7_pop.index = [
    "Candada",
    "France",
    "Germany",
    "Italy",
    "Japan",
    "United Kingdom",
    "United States"
]

In [37]:
g7_pop

Candada            35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Countries Population in millions!, dtype: float64

In [38]:
g7_pop.index

Index(['Candada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [39]:
## You can create a series data structure in different ways, below is much simpler way.
pd.Series({
    "Canada":35.467,
    "France":63.951,
    "Germany":80.94,
    "Italy":60.665,
    "Japan":127.061,
    "United Kingdom":64.511,
    "United States":318.523
}, name = 'G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [40]:
## Another method to create a Series data structure: 

pd.Series(
    [35.467,63.951,80.94,60.665,127.061,64.511,318.523], 
    index = ["Canada","France", "Germany", "Italy", "Japan", "United Kingdom", "United States" ],
    name = "G7 Population in millions"
)

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [41]:
pd.Series(
    [35.467,63.951,80.94,60.665,127.061,64.511,318.523], 
    index = ["Canada","France", "Germany", "Italy", "Japan", "United Kingdom", "United States" ],
    name = "G7 Population in millions"
)

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [42]:
pd.Series(g7_pop, index = ["Canada","Germany","France","Canada"])

Canada        NaN
Germany    80.940
France     63.951
Canada        NaN
Name: G7 Countries Population in millions!, dtype: float64

In [43]:
g7_pop

Candada            35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Countries Population in millions!, dtype: float64

In [44]:
g7_pop["France"]

63.951

In [45]:
g7_pop.iloc[0]

35.467

In [46]:
g7_pop["Germany", "United States"]

KeyError: 'key of type tuple not found and not a MultiIndex'

In [47]:
g7_pop[["Germany", "United States"]]

Germany           80.940
United States    318.523
Name: G7 Countries Population in millions!, dtype: float64

In [48]:
type(g7_pop[["Germany", "United States"]])

pandas.core.series.Series

In [49]:
g7_pop[0]

C:\Users\lenovo\AppData\Local\Temp\ipykernel_1884\2572533557.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  g7_pop[0]

35.467

In [50]:
g7_pop.iloc[[0,1]]

Candada    35.467
France     63.951
Name: G7 Countries Population in millions!, dtype: float64

In [51]:
g7_pop["Canada":"united Kingdom"]

Candada            35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Countries Population in millions!, dtype: float64

In [52]:
#Boolean Arrays
g7_pop > 70

Candada           False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Countries Population in millions!, dtype: bool

In [53]:
g7_pop[g7_pop>70]

Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Countries Population in millions!, dtype: float64

In [54]:
g7_pop.mean()

107.30257142857144

In [55]:
g7_pop[g7_pop<g7_pop.mean()]

Candada           35.467
France            63.951
Germany           80.940
Italy             60.665
United Kingdom    64.511
Name: G7 Countries Population in millions!, dtype: float64

In [56]:
## & - AND
## | - OR
## ~ - NOT

In [57]:
g7_pop["France"] = 140.452

In [58]:
g7_pop

Candada            35.467
France            140.452
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Countries Population in millions!, dtype: float64

In [59]:
g7_pop.iloc[-2] = 16.321

In [60]:
g7_pop

Candada            35.467
France            140.452
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     16.321
United States     318.523
Name: G7 Countries Population in millions!, dtype: float64

In [61]:
g7_pop[g7_pop < 70] = 99.99

In [62]:
g7_pop

Candada            99.990
France            140.452
Germany            80.940
Italy              99.990
Japan             127.061
United Kingdom     99.990
United States     318.523
Name: G7 Countries Population in millions!, dtype: float64

In [63]:
## DataFrame

In [64]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [65]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [66]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [67]:
df.index = [
    "Canada", 
    "France",
    "Germany",
    "Italy",
    "Japan",
    "United Kingdom",
    "United States"
]

In [68]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [69]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [70]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 336.0+ bytes

In [72]:
df.shape

(7, 5)

In [73]:
df.size

35

In [74]:
df.describe()

       Population           GDP  Surface Area       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

In [75]:
df.dtypes

Population      float64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

In [76]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
Name: count, dtype: int64

In [77]:
#Indexing, Slicing, and Selection

In [78]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America